* {
    box-sizing: border-box;
}

header {
    background-color: darkseagreen;
    padding: 16px;
    text-align: center;
}

body {
    margin: 0;
    
}

.reload-info {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
}

h4,
button {
    margin: 10px;
}

.time,
.timeISO,
.timeduk,
.EURrate,
.EURdesc,
.EURfloat, 
.GBPrate,
.GBPdesc,
.GBPfloat,
.USDrate,
.USDdesc,
.USDfloat {
    background-color: rgb(216, 207, 191);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: fit-content;
}

.info {
    margin: 10px;
    font-weight: bold;
    font-style: italic;
}

.wraperTime, 
.wraperGBP,
.wraperUSD,
.wraperEUR {
    background-color: darkseagreen;
    height: 35vh;
    width: 25vw;
    border-radius: 10px;
    display: flex;
    margin: 10px;
    flex-direction: column;
}

.main-wraper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 972px) {
    .main-wraper {
        flex-direction: column;
        margin: 10px;
    }

    .wraperTime, 
    .wraperGBP,
    .wraperUSD,
    .wraperEUR {
        height: fit-content;
        width: auto;
    }

    .wraperGBP,
    .wraperUSD {
        position: relative;
    }

    .reload-info {
        display: grid;
        text-align: center;
        justify-content: center;
    }

}

